<!DOCTYPE html>
<html lang="en">

    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Mission to Mars</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    
    <body>
      <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/getData" role="button">Scrape New Data</a></p>
        </div>
        <img src='{{ mars_info["featured_image_url"][0] }}' alt="Sloth">
        <h2>Mars information</h2>
        <h3>News Title: {{ mars_info["news_titles"] }}</h3>
        <h3>Paragraphs: {{  mars_info["news_titles_paragraphs"] }}</h3>
      </div>
      </div>
    </body>
    
    </html>